ion-card {
    -webkit-box-shadow: -2px 3px 56px -7px rgba(224,32,64,1);
    -moz-box-shadow: -2px 3px 56px -7px rgba(224,32,64,1);
    box-shadow: -2px 3px 56px -7px rgba(224,32,64,1);
}

.titleCard {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    color: #E02041;
}

.textCard {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

.textButton {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #E02041;
}

.textButton2 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bolder;
}