<ion-content>
  <br>

  <ion-text>
    Seu cadastro será concluído após a verificação do email.
  </ion-text>

  <ion-text class="ion-text-center">
    Verifique sua caixa de entrada!!!
  </ion-text>

  <br>

  <ion-button color="vermelho" expand="full" (click)="verificationMail()">
    Reenviar email de verificação
  </ion-button>

  <br>

  <ion-button fill="outline" shape="round" ion-item color="vermelho" expand="full" (click)="goToLogin()">
    Voltar ao Login
  </ion-button>
  
</ion-content>
