<ion-header>
  <ion-toolbar color="cinza">
    <ion-title color="vermelho">Nova postagem</ion-title>
    <ion-buttons slot="end" routerLink="/tabs/tab1">
      <ion-button>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="postForm">
      <ion-item>
        <ion-label>Título:</ion-label>
        <ion-input
          formControlName="titulo"
          minlength="5"
          maxlength="20"
          type="text"
          required
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Descrição:</ion-label>
        <ion-textarea
          type="text"
          formControlName="descricao"
          rows="6"
          cols="20"
          minlength="10"
          maxlength="150"
          required
        ></ion-textarea>
      </ion-item>

      <ion-item>
        <input
          type="radio"
          id="naourgente"
          value="naourgente"
          formControlName="urgente"
          required
          ngModel
        />
        <label for="naourgente">Não Urgente</label><br />
      </ion-item>
      <ion-item>
        <input
          type="radio"
          id="urgente"
          value="urgente"
          formControlName="urgente"
          required
          ngModel
        />
        <label for="urgente">Urgente</label><br />
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button
            color="primary"
            shape="full"
            expand="block"
            (click)="formSubmit()"
            [disabled]="!postForm.valid"
            >Postar</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
