<ion-header>
  <ion-toolbar color="vermelho">
    <ion-title class="textT">Criar novo post</ion-title>
    <ion-buttons slot="end" routerLink="/tabs/tab1">
      <ion-button>
        <ion-icon slot="icon-only" color="light" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">

    <ion-card>
      <div class="titulo">
        <h3>Descreva seu problema abaixo e receba ajuda imediatamente!</h3>
      </div>

      <form [formGroup]="postForm">

        <ion-item lines="none">
          <ion-input class="inputT" position="floating" clearInput placeholder="Título" formControlName="titulo"
            minlength="5" maxlength="50" type="text" required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-textarea class="inputT" position="floating" clearInput placeholder="Descrição"
            formControlName="descricao" rows="6" cols="20" minlength="10" maxlength="150" type="text" required>
          </ion-textarea>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="location-sharp" color="vermelho"></ion-icon>
          <ion-input class="inputT" position="floating" clearInput placeholder="Endereço" formControlName="endereco"
            minlength="5" maxlength="50" type="text" required></ion-input>
        </ion-item>

        <ion-row>

          <ion-col size="6">

            <ion-item lines="none">
              <input type="radio" id="urgente" value="urgente" formControlName="urgente" required ngModel />
              <p class="magicT" for="urgente"> Urgente </p>
              <br />
            </ion-item>

          </ion-col>

          <ion-col size="6">

            <ion-item lines="none">
              <input type="radio" id="naourgente" value="naourgente" formControlName="urgente" required ngModel />
              <p class="magicT" for="naourgente"> Não Urgente </p>
              <br />
            </ion-item>


          </ion-col>
        </ion-row>

        <!-- <ion-row>
        <ion-col>
          <ion-button color="vermelho" shape="full" expand="block">
            &nbsp; Carregar foto
          </ion-button>
        </ion-col>
        </ion-row> -->

        <ion-row>
          <ion-col>
            <ion-button color="vermelho" shape="full" expand="block" (click)="formSubmit()"
              [disabled]="!postForm.valid">
              <ion-icon name="send-outline"></ion-icon> &nbsp; Enviar
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card>
  </ion-list>
</ion-content>