<ion-header>
  <ion-toolbar color="cinza">
    <ion-title color="vermelho" class="textT">Editar post</ion-title>
    <ion-buttons slot="start" class="red">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="cinza">
  <ion-card>
  <ion-list lines="full">
    <form [formGroup]="updatePostForm">

      <ion-item lines="none">
        <ion-input class="inputT" position="floating" clearInput placeholder="Título" formControlName="titulo"
          type="text" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input class="inputT" position="floating" clearInput placeholder="Descrição" formControlName="descricao"
          type="text" required>
        </ion-input>
      </ion-item>



      <ion-row>

        <ion-col size="6">

          <ion-item lines="none">
            <input type="radio" id="urgente" value="urgente" formControlName="urgente" required ngModel />
            <p class="magicT" for="urgente"> Urgente </p>
            <br />
          </ion-item>

        </ion-col>

        <ion-col size="6">

          <ion-item lines="none">
            <input type="radio" id="naourgente" value="naourgente" formControlName="urgente" required ngModel />
            <p class="magicT" for="naourgente"> Não Urgente </p>
            <br />
          </ion-item>


        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button class="textT" color="vermelho" type="submit" shape="full" fill="outline" expand="block" (click)="updatePosts()">
            <ion-icon name="save-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
  </ion-card>
</ion-content>