<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit Appointment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="updatePostForm" (ngSubmit)="updatePost()">
      <ion-item>
        <ion-label position="floating">Título</ion-label>
        <ion-input formControlName="titulo" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-input formControlName="descricao" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Update Post</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
