ion-title {
    font-family: 'Roboto', sans-serif;
}

.configI {
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
    margin: auto;
    margin-right: auto;
    margin-left: 5px;
}

.titleT {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: bolder;
    color: #E02041;
    margin-left: 10px;
}

.optionT {
    font-size: 15px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}