<ion-header>
  <ion-toolbar color="vermelho">
    <ion-title>Configurações</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-text class="titleT"> Conta </ion-text>
    <ion-item class="optionT" routerLink="/change-photo">
      <ion-icon color="vermelho" name="image"></ion-icon>
      &nbsp; Alterar foto
    </ion-item>

  </ion-item-group>

  <ion-item-group>

    <ion-text class="titleT"> Preferências </ion-text>

    <ion-item class="optionT" routerLink="/about">
      <ion-icon color="vermelho" name="information-circle"></ion-icon>
      &nbsp; Sobre
    </ion-item>

  </ion-item-group>

</ion-content>