ion-title {
    font-family: 'Roboto', sans-serif;
}

ion-toggle {
    --handle-box-shadow: 0 3px 12px rgba(224, 32, 65, 0.6), 0 3px 1px rgba(189, 191, 193, 0.6);
  
    overflow: visible;
  
    contain: none;


    --handle-background-checked: #fff url(/assets/power-icon.png) no-repeat center / contain;

    --background: #A4A4A4;
    --background-checked: #A4A4A4;
  
    --handle-background: #A4A4A4;
    --handle-background-checked: #E02041;

    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;

    width: 50px;
    height: 20px;
  }