<ion-header>
  <ion-toolbar color="vermelho">
    <ion-title>Notificações</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Serviços</ion-label>
      <ion-toggle slot="start" name="servicos" color="vermelho" class="handle"checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Avaliações</ion-label>
      <ion-toggle slot="start" name="avaliacoes" color="vermelho" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Avisos</ion-label>
      <ion-toggle slot="start" name="avisos" color="vermelho" checked></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
