.enviada{
 text-align:right;
 align-items:right;
 margin:15px;
 padding:15px;
}

.recebida{
 text-align:left;
 align-items:left;
 margin:15px;
 padding:15px;
}

ion-item{
 margin:10px;
 padding:5px;
 --border-radius: 10px;
}

.details{
  margin-top:2px;
  background-color:white;
  display:flex;
  
  ion-icon{
   margin:1px;
  }
}

.paginador{
  bottom:0;
  position:absolute;
  width:100%;
  text-align:center;
}