<ion-header>
  <ion-toolbar color="vermelho">
    <ion-title>Sobre nós</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>


  <ion-text class="ion-text-center">
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Esse projeto nasceu em nosso trabalho de conclusão de curso
      no curso de Informática na ETEC Cidade do Livro.
    </p>
  </ion-text>

  <ion-card color="vermelho">
    <ion-row>

      <ion-col size="4">

        <ion-avatar>
          <img src="assets/leo.jpg">
        </ion-avatar>

        <br>

        <ion-text class="ion-text-center">
          <p class="nomeR">Leonardo Silva</p>
        </ion-text>

      </ion-col>

      <ion-col size="7">

        <br>

        <p class="msgR">
          <ion-icon name="mail-outline" class="whiteIcon"></ion-icon>
          &nbsp; yleo545@hotmail.com
        </p>

        <br>

        <p class="msgR">
          <a class="aT" href="https://www.linkedin.com/in/leonardo-s-a496bb18b/">
            <ion-icon name="logo-linkedin" class="whiteIcon"></ion-icon>
            &nbsp; LinkedIn
          </a>
        </p>

        <br>

        <p class="msgR">
          <a class="aT" href="https://github.com/leonardo16silva12">
            <ion-icon name="logo-github" class="whiteIcon"></ion-icon>
            &nbsp; GitHub
          </a>
        </p>

        <br>



      </ion-col>

      <ion-col size="1">

      </ion-col>
    </ion-row>
  </ion-card>









  <ion-card color="vermelho">
    <ion-row>

      <ion-col size="4">

        <ion-avatar>
          <img src="assets/vini.jpg">
        </ion-avatar>

        <br>

        <ion-text class="ion-text-center">
          <p class="nomeR">Vinicius Lima</p>
        </ion-text>

      </ion-col>

      <ion-col size="7">

        <br>

        <p class="msgR">
          <ion-icon name="mail-outline" class="whiteIcon"></ion-icon>
          &nbsp; viniciuslima@gmail.com
        </p>

        <br>

        <p class="msgR">
          <a class="aT" href="#">
            <ion-icon name="logo-linkedin" class="whiteIcon"></ion-icon>
            &nbsp; LinkedIn
          </a>
        </p>

        <br>

        <p class="msgR">
          <a class="aT" href="https://github.com/vini121423">
            <ion-icon name="logo-github" class="whiteIcon"></ion-icon>
            &nbsp; GitHub
          </a>
        </p>

        <br>



      </ion-col>

      <ion-col size="1">

      </ion-col>
    </ion-row>
  </ion-card>












  <ion-card color="vermelho">
    <ion-row>

      <ion-col size="4">

        <ion-avatar>
          <img src="assets/zoio.jfif">
        </ion-avatar>

        <br>

        <ion-text class="ion-text-center">
          <p class="nomeR">Renato Prandini</p>
        </ion-text>

      </ion-col>

      <ion-col size="7">

        <br>

        <p class="msgR">
          <ion-icon name="mail-outline" class="whiteIcon"></ion-icon>
          &nbsp;revpran.2013@gmail.com
        </p>

        <br>

        <p class="msgR">
          <a class="aT" href="#">
            <ion-icon name="logo-linkedin" class="whiteIcon"></ion-icon>
            &nbsp; LinkedIn
          </a>
        </p>

        <br>

        <p class="msgR">
          <a class="aT" href="https://github.com/renatoprandini">
            <ion-icon name="logo-github" class="whiteIcon"></ion-icon>
            &nbsp; GitHub
          </a>
        </p>

        <br>



      </ion-col>

      <ion-col size="1">

      </ion-col>
    </ion-row>
  </ion-card>
  


</ion-content>