ion-title {
    font-family: 'Roboto', sans-serif;
}

.marginP {
    margin-left: 25px;
    margin-right: 25px !important;
}

.titleT {
    font-size: 40px;
    font-weight: bolder;
    color: #E02041;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.questionT {
    font-size: 23px;
    font-weight: bolder;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.descriptionT {
    font-size: 15px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}