<ion-header>
  <ion-toolbar color="vermelho">
    <ion-title>Perguntas frequentes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" class="marginP">
    <ion-text class="titleT"> FAQ </ion-text>
  </ion-item>

  <p>
    <ion-text>
      <p class="questionT marginP"> O que fazer para ganhar pontos no ranking?</p>
      <p class="descriptionT marginP"> Você ganha pontos na medida que os serviços são concluídos e também uma boa avaliação entre os usuários. </p>
    </ion-text>
  </p>

  <p>
    <ion-text>
      <p class="questionT marginP"> Qual a premiação dos primeiros lugares do ranking? </p>
      <p class="descriptionT marginP"> Os primeiros três colocados ganharão premiações em dinheiro e divulgação de sua empresa como forma de agradecimento. </p>
    </ion-text>
  </p>

  <p>
    <ion-text>
      <p class="questionT marginP"> Como trabalhar no aplicativo? </p>
      <p class="descriptionT marginP"> É muito simples, você se cadastra como mecânico e na medida que você concluir serviços, ganhará pontos no ranking. </p>
    </ion-text>
  </p>

  <p>
    <ion-text>
      <p class="questionT marginP">O que faço para encontrar clientes?</p>
      <p class="descriptionT marginP"> Fique de olho no feed, toda hora novos casos estão sendo adicionados, escolha a
        sua
        especialidade e pronto. </p>
    </ion-text>
  </p>

</ion-content>