<ion-header>
  <ion-toolbar color="vermelho">
    <ion-title>Sobre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="graymp">

  <ion-item-group>

    <ion-text class="titleT"> Sobre </ion-text>

    <ion-item color="light">
      <ion-text class="optionT">
        Versão
        <p class="answerT">{{"version"}}</p>
      </ion-text>
    </ion-item>

    <ion-item class="optionT" href="#">
      Avalie este aplicativo
      <ion-buttons slot="end">
        <ion-icon color="vermelho" name="chevron-forward-outline"></ion-icon>
      </ion-buttons>
    </ion-item>

  </ion-item-group>

  <ion-item-group>

    <ion-text class="titleT"> Sobre a empresa </ion-text>

    <ion-item class="optionT" href="#">
      Sobre a Mapp7
    </ion-item>

  </ion-item-group>
  
</ion-content>
