<ion-header>
  <ion-toolbar color="vermelho">
    <ion-title>Sobre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>

    <ion-text class="titleT"> Sobre </ion-text>

    <ion-item color="light">
      <ion-icon name="construct" color="vermelho"></ion-icon>
      <ion-text class="optionT">
        &nbsp; Versão
        <p class="answerT">{{"&nbsp; &nbsp; 1"}}</p>
      </ion-text>
    </ion-item>
    
    <ion-item class="optionT" routerLink="/aboutapp">
      <ion-icon name="earth" color="vermelho"></ion-icon>
      &nbsp; Sobre nós
    </ion-item>

    <ion-item class="optionT" href="#">
      <ion-icon name="logo-google-playstore" color="vermelho"></ion-icon>
      &nbsp; Avalie-nos
    </ion-item>

  </ion-item-group>

  <ion-item-group>

    <ion-text class="titleT"> Redes Sociais </ion-text>

    <ion-item class="optionT" href="#">
      <ion-icon name="logo-instagram" color="vermelho"></ion-icon>
      &nbsp; Instagram
    </ion-item>

    <ion-item class="optionT" href="#">
      <ion-icon name="logo-facebook" color="vermelho"></ion-icon>
      &nbsp; Facebook
    </ion-item>

    <ion-item class="optionT" href="#">
      <ion-icon name="logo-twitter" color="vermelho"></ion-icon>
      &nbsp; Twitter
    </ion-item>

    <ion-item class="optionT" href="#">
      <ion-icon name="link-outline" color="vermelho"></ion-icon>
      &nbsp; Site
    </ion-item>
  </ion-item-group>

  
</ion-content>
