<ion-header>
  <ion-toolbar color="vermelho">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mecânico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="graychat">

    <ion-card-header color="vermelho" class="ion-text-center">

      <ion-col size="1"></ion-col>

      <ion-col size="10">

        <ion-avatar class="photoUser imgAuto">
          <img [src]="user['photoURL']">
        </ion-avatar>

        <br>
        <br>

        <div class="ion-text-center distancia">

          <ion-text class="nomeN">
            {{user['primeiroNome']}}
            {{user['ultimoNome']}}
          </ion-text>

          <br>

          <ion-text class="nomeN">

            @{{user['displayName']}}

            <br>

            <ion-icon name="trophy"></ion-icon> {{user['media'] | number:'1.1-1'}}
          </ion-text>

        </div>

        <br>

      </ion-col>

      <ion-col size="1"></ion-col>

    </ion-card-header>


    <br>
    <br>


    <span *ngIf="!user['isRate']; else elseBlock">
      <div *ngIf="post['avaliado'] === false">
        <ion-button color="vermelho" size="medium" expand="block" (click)="initAvaliacao(user)">
          <ion-icon size="small" name="star"></ion-icon>
          &nbsp; Avaliar
        </ion-button>
      </div>
    </span>
    <ng-template #elseBlock>

      <ion-item class="backC">
        <div class="estrelas imgAuto" id="icones">
          <input type="radio" checked id="cm_wrench-empty" name="fb" />
          <label for="cm_wrench-1"><i class="fa"></i></label>
          <input type="radio" id="cm_wrench-1" name="fb" class="valor" (click)="adicionarValor(1)" />
          <label for="cm_wrench-2"><i class="fa"></i></label>
          <input type="radio" id="cm_wrench-2" name="fb" class="valor" (click)="adicionarValor(2)" />
          <label for="cm_wrench-3"><i class="fa"></i></label>
          <input type="radio" id="cm_wrench-3" name="fb" class="valor" (click)="adicionarValor(3)" />
          <label for="cm_wrench-4"><i class="fa"></i></label>
          <input type="radio" id="cm_wrench-4" name="fb" class="valor" (click)="adicionarValor(4)" />
          <label for="cm_wrench-5"><i class="fa"></i></label>
          <input type="radio" id="cm_wrench-5" name="fb" (click)="adicionarValor(5)" />
        </div>
      </ion-item>
      <ion-button fill="solid" expand="block" color="warning" size="medium" (click)="user['isRate'] = false">
        <ion-icon name="close-outline"></ion-icon>
        &nbsp; Fechar
      </ion-button>
      <ion-button fill="solid" expand="block" color="vermelho" size="medium" (click)="alertAvaliacao(user)">
        <ion-icon name="star-outline"></ion-icon>
        &nbsp; Enviar
      </ion-button>

    </ng-template>

  </ion-card>

</ion-content>