<ion-header>
  <ion-toolbar color="vermelho">
    <ion-title>Alterar foto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item (click)="openGalery()" lines="none" color="vermelho" class="alignButton">
    Escolher foto para perfil
    <ion-buttons slot="end">
      <ion-icon color="light" name="chevron-forward-outline"></ion-icon>
    </ion-buttons>
  </ion-item>

  <ion-item class="textT" lines="none">
    <ion-text class="textT">
      Progresso do upload: {{ uploadPercent | async }}%
    </ion-text>
  </ion-item>

 
<ion-item>
  <ion-label class="ion-text-wrap textT"> URL de Download: {{ downloadUrl | async }}</ion-label>
</ion-item>



<img [src]="downloadUrl | async" *ngIf="downloadUrl | async" class="photo">

<ion-item class="alignButton" lines="none" color="vermelho" (click)="submitPhoto()" routerLink="/tabs/tab3">
  Salvar
  <ion-buttons slot="end">
  </ion-buttons>
</ion-item>
</ion-content>