ion-title {
    font-family: 'Roboto', sans-serif;
}

.alignButton {
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
}

.textT {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #E02041;
}

.photo {
    border: 5px solid #E02041;
    border-radius: 10px;
    border-style: groove;
    display: flex;
    position: relative;
    max-width: 340px;
    max-height: 225px;
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-top: 25px;
    margin-right: 25px;
}

ion-card {
    -webkit-box-shadow: 2px 27px 44px 27px rgba(189, 191, 193, 0.79);
    -moz-box-shadow: 2px 27px 44px 27px rgba(189, 191, 193, 0.79);
    box-shadow: 2px 27px 44px 27px rgba(189, 191, 193, 0.79);
}