<ion-header>
  <ion-toolbar color="vermelho">
    <ion-title>Alterar nome</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-item>

      <ion-input position="floating" clearInput placeholder="Novo nome" type="text" #primeiroNome> </ion-input>

    </ion-item>

    <ion-item>

      <ion-input position="floating" clearInput placeholder="Novo sobrenome" type="text" #ultimoNome> </ion-input>

    </ion-item>

  </ion-card>

</ion-content>