<ion-header>
  <ion-toolbar lines="none">
    <ion-row>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="8">
        <ion-thumbnail class="imgAuto">
          <img src="../../../assets/logotcc.png" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>


<ion-content class="alignContent">


  <ion-item lines="none">
    
        <ion-col size="1">
          <div></div>
        </ion-col>

        <ion-col size="10">

          <div class="ion-text-center">
            <ion-avatar class="photoUser colAlign">
              <!-- {{userInfo['photoURL']}} -->
              <img [src]="userInfo['photoURL']">
            </ion-avatar>

            <br>
            <br>
            <br>

            <ion-text class="nomeN">
              {{userInfo['primeiroNome']}}
              {{userInfo2['ultimoNome']}}
            </ion-text>

            <br>

            <ion-text class="email">
              {{userInfo['email']}}
            </ion-text>

            <br>
            <br>

          </div>

        </ion-col>


        <ion-col>
          <div></div>
        </ion-col>

      

  </ion-item>


  <ion-item-group lines="none">

    <ion-item class="optionT" routerLink="/rating" lines="none">
      <ion-icon slot="start" color="vermelho" name="star"></ion-icon>
      <ion-label color="vermelho">
        Avaliação
      </ion-label>
    </ion-item>
    <ion-item class="optionT" lines="none">
      <ion-icon slot="start" name="moon" color="vermelho"></ion-icon>
      <ion-label color="vermelho">
        Modo Escuro
      </ion-label>
      <ion-toggle (ionChange)="onClick($event)" slot="end" color="vermelho"></ion-toggle>
    </ion-item>

    <ion-item class="optionT" routerLink="/settings" lines="none">
      <ion-icon slot="start" color="vermelho" name="settings-outline"></ion-icon>
      <ion-label color="vermelho">
        Configurações
      </ion-label>
    </ion-item>

    <ion-item class="optionT" (click)="authService.SignOut()" lines="none">
      <ion-icon slot="start" color="vermelho" name="log-out-outline"></ion-icon>
      <ion-label color="vermelho">
        Sair
      </ion-label>
    </ion-item>

  </ion-item-group>



</ion-content>