<ion-header>
  <ion-toolbar lines="none">
    <ion-item>
      <ion-text class="alignT"> Perfil </ion-text>
    </ion-item>
    <ion-buttons slot="end">
      <ion-icon class="configI" name="settings-outline" routerLink="/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="alignContent">


  <ion-item color="light" class="borderNone">
    <ion-label>

      <ion-row>

        <ion-col>
          <div></div>
        </ion-col>

        <ion-col>
          <div class="ion-text-center">
            <ion-avatar class="photoUser">
              <!-- {{userInfo['foto']}} -->
              <img [src]="userInfo['foto']">
            </ion-avatar>

            <br>
            <br>

            <ion-text class="nomeN">
              {{userInfo['primeiroNome']}}
              {{userInfo2['ultimoNome']}}
            </ion-text>

            <br>
            <br>
          </div>
        </ion-col>

        <ion-col>
          <div></div>
        </ion-col>
      </ion-row>

    </ion-label>

  </ion-item>


  <ion-item-group>

    <ion-item color="light">
      <ion-text class="optionT">
        Modelo do Automóvel (Cliente)
        <p class="answerT">{{"carModel"}}</p>
      </ion-text>
    </ion-item>

    <ion-item color="light">
      <ion-text class="optionT">
        Serviços Concluídos (Mecânico)
        <p class="answerT">{{"completedServices"}}</p>
      </ion-text>
    </ion-item>

    <ion-item color="light" routerLink="/rating">
      <ion-text class="optionT">
        Avaliação
      </ion-text>
      <ion-buttons slot="end">
        <ion-icon color="vermelho" name="chevron-forward-outline"></ion-icon>
      </ion-buttons>
    </ion-item>

    <ion-item class="optionT" (click)="authService.SignOut()">
      Sair
      <ion-buttons slot="end">
        <ion-icon color="vermelho" name="log-out-outline"></ion-icon>
      </ion-buttons>
    </ion-item>

  </ion-item-group>



</ion-content>