<ion-header>
  <ion-toolbar lines="none">
    <ion-row>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="8">
        <ion-thumbnail class="imgAuto">
          <img src="../../../assets/logotcc.png" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="2">
        <ion-button  color="light" fill="clear" routerLink="/settings">
          <ion-icon class="configI imgAuto" name="settings-outline" ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    
  </ion-toolbar>
</ion-header>


<ion-content class="alignContent">


  <ion-item color="light" class="borderNone">
    <ion-label>

      <ion-row>

        <ion-col>
          <div></div>
        </ion-col>

        <ion-col>
          <div class="ion-text-center">
            <ion-avatar class="photoUser">
              <!-- {{userInfo['photoURL']}} -->
              <img [src]="userInfo['photoURL']">
            </ion-avatar>

            <br>
            <br>

            <ion-text class="nomeN">
              {{userInfo['primeiroNome']}}
              {{userInfo2['ultimoNome']}}
            </ion-text>

            <br>
            <br>
          </div>
        </ion-col>

        <ion-col>
          <div></div>
        </ion-col>
      </ion-row>

    </ion-label>

  </ion-item>


  <ion-item-group color="cinza">

    <ion-item routerLink="/rating" lines="none">
     <ion-icon slot="start" color="vermelho" name="star-outline"></ion-icon>
	  <ion-label color="vermelho">
          Avaliação 
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="start" name="moon" color="vermelho"></ion-icon>
      <ion-label color="vermelho">
        Modo Escuro
      </ion-label>
      <ion-toggle (ionChange)="onClick($event)" slot="end"></ion-toggle>
    </ion-item>

    <ion-item class="optionT" (click)="authService.SignOut()" lines="none">
	 <ion-icon slot="start" color="vermelho" name="log-out-outline"></ion-icon>
     <ion-label color="vermelho">
        Sair 
      </ion-label>
    </ion-item>
	

  </ion-item-group>



</ion-content>