ion-item {
  padding: 10px;
  --border-radius: 10px;
}

ion-textarea {
  padding: 3px;
}

.paginador {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 99999;
}

.ion-description {
  padding: 5px;
  font-size: 14px;
}

.chat {
  padding: 7px;
  margin: 5px;
}

.msgEnviada {
  padding: 7px;
  margin: 5px;
  background: #cccccc;
}

.msgRecebida {
  padding: 7px;
  margin: 5px;
  background: #e02041;
}

// ion-card {
//   background: #CCCCCC;
// }


ion-avatar {
  height: 60px;
  width: 60px;
  margin: 0 auto;
}

.itemChat {
  height: 75px;
  display: flex;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #000;
    --placeholder-font-style: 'Roboto', sans-serif;
    --background: #CCCCCC;
}

.buttonSend {
  --background: #e02041;
}

.flex { 
  display: flex;
}

.nomeE {
  display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #000;
    text-align: center;
}

.nomeR {
  display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #FFF;
    text-align: center;
}

.dataHoraE {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: bolder;
  color: #000;
  text-align: center;
}

.dataHoraR {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: bolder;
  color: #FFF;
  text-align: center;
}

.msgE {
  display: flex;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #000;
}

.msgR {
  display: flex;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #FFF;
}

p {
  text-align: center;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
}

.enviada {
  --background: #cccccc;
}
.recebida {
  --background: #e02041;
}

.avaliar{
 padding:10px;
 font-weight:bolder;
}

